/* HERO */
.nav, .content, .about {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: monospace;
}

body, html {
  width: 100%;
  height: 100%;
}

:root {
  --page-margin: max(16vw, 40px); /* Check documentation for max() - chooses the smaller value of the options provided. Good for mixing and matching fixed + relative units */
  --ln: 1px solid #424242;
}

/* TEXT STYLE */

p.large {
 font-size: 1.5rem; 
}

/* BUTTONS */
button.primary {
  
  background-color: #1b1b1b;
  
  color: white;
  font-weight: bold;
  padding: 0.675rem 2.5rem; 
  border-radius: 0.5rem;
  border-style: none;
  border: 1px solid transparent;
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(to top, #4d4d4d, #1b1b1b, #1b1b1b, #4d4d4d);
}

button.primary:hover {
  border: 1px solid #e0e0e0;
  color: #424242;
  font-weight: bold;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: .5px 3px 5px #b6b6b6;
  
  background-image: linear-gradient(to top, #e0dfdf , white, white, white, #e0dfdf)
}

/* NAV */
h1 {
  font-family: 'Times New Roman', Times, serif;
  font-weight: 200;
  font-size: 1.825rem;
}

a {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  color: white;
  text-decoration: none;
  font-size: .9rem;
  

}

nav {
  height: 73px;
  background-color: #1b1b1b;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15vw;
  border-bottom: var(--ln)
}

nav > ul.links {
  
  height: 100%;
  display: flex;
  gap: 3rem;
  
}

nav > ul.links > * > * {
  padding: 1.5rem;
  height: 90%;
  display: flex;
  align-items: center;
  
}

nav > li.links > *:hover {
  display: flex;
  gap: 3rem;
  height: 72px;
  
}


nav .links a:hover{
color: #1b1b1b;
background-color: white;
}


/*----- Menu Outline -----*/




.menu a {
	transition:all linear 0.15s;
	color: white
}



.menu li:hover > a, .menu .current-item > a {
	text-decoration:none;
	color:black;
  background-color: white;
}

.menu .arrow {
	font-size:11px;
	line-height:0%;
}

/*----- Top Level -----*/
.menu > ul > li {
	float:left;
	display:inline-block;
	position:relative;
	font-size:19px;
}

.menu > ul > li > a {
	padding:50px 40px;
	display:inline-block;
	text-shadow:0px 1px 0px rgba(0,0,0,0.4);
  
  
}

.menu > ul > li:hover > a, .menu > ul > .current-item > a {
	background:white;
  
}

/*----- Bottom Level -----*/
.menu li:hover .sub-menu {
	z-index:1;
	opacity:1;
  
}

.sub-menu {
	width:160%;
	padding:5px 0px;
	position:absolute;
	top:100%;
	left:0px;
	z-index:-1;
	opacity:0;
	transition:opacity linear 0.15s;
	box-shadow:0px 2px 3px rgba(0,0,0,0.2);
	background:black;
  transform: translateY(-2.1rem);
  
}

.sub-menu li {
	display:block;
	font-size:16px;
}

.sub-menu li a {
	padding:10px 30px;
	display:block;
}

.sub-menu li a:hover, .sub-menu .current-item a {
	background:white
}

#burger {
  display: none;
}

#burger p {
  transform: rotate(90deg);
}

@media only screen and (max-width: 960px) {
  nav .links a {
    display: none;
  }
  
  nav .links #burger {
    border-right: var(--ln);
    display: inherit;
  }
}

/* MODAL */
#modal-menu {
  opacity: 1;
  position: fixed;
  top: 96px;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--clr-dark);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

#modal-menu.hidden {
  opacity: 0;
  top: 200vh;
}

#modal-menu h2 {
  padding: 2rem 6rem;
  border-radius: 24rem;
  border: 1px solid var(--clr-light);
  transition: 400ms;
}

#modal-menu h2:hover {
  border: 1px solid var(--clr-primary);
  transform: scale(1.2);
  box-shadow: 0 0 56px rgba(255,255,255,0.06);
}


/* HERO */
#hero {
/*   max-width: 1600px; */
  min-height: 560px;
  padding: 0 var(--page-margin);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  
 
}

#hero h2 {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 55px;
  color: #19191A;
  
  margin-left: 0px;
}

#hero h3 {
  display: flex;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 100;
  font-size: 40px;
  color: #19191A;
  margin-top: 10px;
  margin-left: 00px;
}

#hero p {
  display: flex;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 100;
  font-size: 20px;
  color: #19191A;
  margin-top: 10px;
  margin-left: 0px;
}

li{
display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 60;
  font-size: 16px;
  color: #19191A;
  margin-top: 10px;
  margin-left: 0px;
}
#hero ul {
  list-style: none;
}


#more a {
  display:flex;
  align-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin-top: 0px;
  padding-bottom: 1rem;
  padding-left: 32rem;
  color: #19191A;
}

.moreimage{
  display: flex;
  align-content: center;
  padding-left: 32.5rem;
  }

.arrow
{
  position: relative;
  bottom: -2rem;
  left: 50%;
  margin-left:-20px;
  width: 40px;
  height: 40px;
  background-image: url(images/arrow21.png);
  background-size: contain;
}

/* MAIN (case studies) */


#case-studies {
  display: flex;
  padding: var(--page-margin);
  flex-direction: column;
  gap: 8rem;
}



#case-studies .case-study {
  border: var(--ln);
  width: 100%;
  min-height: 360px;
  border-radius: 1rem;
  display: flex;
}

#case-studies .case-study:nth-child(even) {
  flex-direction: row-reverse; /* this forces every other (even numbered) case study to appear in reverse order */
}

#case-studies .case-study > * {
  flex: 1; /* this forces all immediate children of the case study class to share an even amount of space, in this case a 50/50 split */
  min-height: 100%;
}

@media screen and (max-width: 960px) {
  #case-studies .case-study {
    flex-direction: column;
  }

  #case-studies .case-study:nth-child(even) {
    flex-direction: column-reverse;
  }
}


#case-studies .case-study .info {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  
}

#case-studies h6{
  font-size: 13px;
font-family: Arial, Helvetica, sans-serif;
}

#case-studies h3{
  padding-top: 1rem;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

#case-studies p{
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
 
}

#NAA{
  border: 1px solid #7dddf8;
  background-color: #027FA2;
  max-width: fit-content;
  background-image: linear-gradient(to top, #026e8b,#027FA2, #027FA2, #027FA2, #039ec9);
}


#NAA.primary:hover {
  border: 1px solid #027FA2;
  color: #027FA2;
  box-shadow: 3px 3px 3px #adadad;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(to top,#a4deeebe, white,white, white, white, white, #a4deeebe);
}

#FFH{
  border: 1px solid #9aa9ff;z
  background-color: #42496F;
  max-width: fit-content;
  background-image: linear-gradient(to top, #373d5c, #42496F, #42496F, #42496F, #8090e9);
}


#FFH.primary:hover {
  border: 1px solid #42496F;
  color: #42496F;
  box-shadow: 1px 3px 3px #adadad;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(to top, #a1adf0be,white,white, white, white, white, #a1adf0be);
}


#WIRES{
  border: 1px solid #9fff8ec9;
  background-color: #34542E;
  max-width: fit-content;
  background-image: linear-gradient(to top, #23381f, #34542E, #34542E, #34542E, #78b46d);
}

#WIRES.primary:hover {
  border: 1px solid #34542E;
  color: #34542E;
  box-shadow: 1px 3px 3px #adadad;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(to top, #9bcf92,white,white, white, white, white, #9bcf92)
}

#NAAimage {

  transform: scale(1.35) translate( 1rem, 2rem); /* this is how we get that nice overlap effect */
/*   background-image: url('...') */ /* Add your images here */
background-image: url(images/naa.png);
background-size: contain;
background-repeat: no-repeat;

}


#FFHimage {

  transform: scale(1.35) translate( -2rem, 2rem); /* this is how we get that nice overlap effect */
/*   background-image: url('...') */ /* Add your images here */
background-image: url(images/ffh.png);
background-size: contain;
background-repeat: no-repeat;

}
#WIRESimage {

  transform: scale(1.35) translate( 2rem, 2rem); /* this is how we get that nice overlap effect */
/*   background-image: url('...') */ /* Add your images here */
background-image: url(images/wires.png);
background-size: contain;
background-repeat: no-repeat;

}



footer {
  height: 250px;
  background-color: #000;
  display: flex;
  align-items: center;
  padding: 0 15vw;
  
}


.resume a{
  color: white;
}

footer .images {
  
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  gap: 1rem;
  
}

footer .logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 139px;
}
.footerprojects {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 60;
  font-size: 20px;
}



